Package: parrot-wallpapers
Version: 3.0
Architecture: all
Maintainer: Lorenzo EclipseSpark Faletra <eclipse@frozenbox.org>
Installed-Size: 18900
Section: parrot
Priority: optional
Description: default wallpapers for Parrot security OS
 This is a collection of desktop wallpapers created for MATE desktop environment for Parrot security OS
